<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gpc.meinvxiupro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--小米推送-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.gpc.meinvxiupro.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.gpc.meinvxiupro.permission.MIPUSH_RECEIVE" />
    <!--小米推送-->
    <application
        android:name=".MeinvxiuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait">

        </activity>

        <!--列表页的内存已经非常稳定，但是查看大图时，大图往往占用了20+m内存，加上现有进程中的内存，非常容易oom
        ，在新进程中打开Activity成为比较取巧的避免oom的方式。
        <activity android:name=".DetailActivity" android:process=":picture"/>
        只要在AndroidManifest.xml中定义Activity时加入process属性，即可在新进程中打开此Activity。
        由此，picasso也将在新进程中创建基于新ApplicationContext的单例。-->
        <activity
            android:name=".activities.ImageDetailActivity"
            android:label="@string/title_activity_image_detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatus">

        </activity>

        <activity
            android:name=".activities.MyCollectActivity"
            android:label="@string/my_collect"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activities.MyDownloadActivity"
            android:label="@string/my_download"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activities.AboutUsActivity"
            android:label="@string/about_us"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activities.FeedbackActivity"
            android:label="@string/feedback"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>

        <activity
            android:name=".activities.SettingActivity"
            android:label="@string/setting"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>

        <receiver
            android:name=".receivers.CustomAlarmReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.gpc.meinvxiupro.autosetwallpaper" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.AutoSetWallpaperService"
            android:process=":wallpaper" />

        <!--小米推送-->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.gpc.meinvxiupro.receivers.CustomXiaomiPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="xiaomiappid"
            android:resource="@string/xiaomiAppId" />

        <meta-data
            android:name="xiaomiappkey"
            android:resource="@string/xiaomiAppKey" />

        <meta-data
            android:name="imgip"
            android:resource="@string/img_ip" />

        <meta-data
            android:name="feedbackip"
            android:resource="@string/feedback_ip" />

        <!--小米推送-->
    </application>

</manifest>
